<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="bi bi-house-fill"></i> Inmobiliaria VdA
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'properties:list' %}">Propiedades</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        Zonas
                    </a>
                    <ul class="dropdown-menu">
                        {% for zone in zones %}
                        <li><h6 class="dropdown-header">{{ zone.name }}</h6></li>
                        {% for muni in zone.municipalities.all %}
                        <li><a class="dropdown-item" href="{% url 'properties:by_municipality' muni.slug %}">{{ muni.name }}</a></li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-person-circle"></i> {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'users:logout' %}">Cerrar sesión</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">
                        <i class="bi bi-box-arrow-in-right"></i> Ingresar
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>