.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
android/app/build/
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
ios/
*.lock
*.log
*.iml
.idea/
.vscode/
*.swp
*.swo
.DS_Store